.login-page {
  width: 370px;
  height: fit-content;

  background-color: #1A120B;

  margin: 0 auto;
  margin-top: 50vh;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #D4AF37;
  h2{
    text-align: center;
    width: 200px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 33px;
    font-weight: 100;
    color: white;
  }
}

.formulario {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.error {
  font-size: 16px;
  color: #c62828;
}

.success {
  font-size: 16px;
  color: #D4AF37;
  padding: 0;
}

.link_iniciar_sesion{
  color: white;
}

.link{
    font-size: 14px;
    color: #D4AF37;
    text-decoration: none;
}

.p{
  font-size: 16px;
  color: #c62828;
}