<app-ui-form titulo="Restablecer contraseña" (formSubmit)="submit($event)">
    <ui-input
        tituloInput="Nueva contraseña"
        placeholder="Ingresa tu nueva contraseña"
        name="nuevaContrasena"
        tipo="password"
        required
        minlength="8"
        pattern="^(?=.*[A-Z])(?=.*\d).{8,}$"
        [(ngModel)]="nuevaContrasena"
        #nuevaContrasenaModel="ngModel"
    ></ui-input>

    <ui-input
        tituloInput="Confirmar nueva contraseña"
        placeholder="Confirma tu nueva contraseña"
        name="confirmarContrasena"
        tipo="password"
        required
        minlength="8"
        pattern="^(?=.*[A-Z])(?=.*\d).{8,}$"
        [(ngModel)]="confirmarContrasena"
        #confirmarContrasenaModel="ngModel"
    ></ui-input>

    <p class="error" *ngIf="nuevaContrasenaModel.invalid && (nuevaContrasenaModel.touched)">
        <ng-container *ngIf="nuevaContrasenaModel.errors?.['required']">La contraseña es obligatoria.</ng-container>
        <ng-container *ngIf="nuevaContrasenaModel.errors?.['minlength']">Debe tener al menos 8 caracteres.</ng-container>
        <ng-container *ngIf="nuevaContrasenaModel.errors?.['pattern']">Debe incluir mínimo una mayúscula y un número.</ng-container>
    </p>

    <p class="error" *ngIf="confirmarContrasenaModel.invalid && (confirmarContrasenaModel.touched)">
        <ng-container *ngIf="confirmarContrasenaModel.errors?.['required']">Confirma tu contraseña.</ng-container>
        <ng-container *ngIf="confirmarContrasenaModel.errors?.['minlength']">Debe tener al menos 8 caracteres.</ng-container>
        <ng-container *ngIf="confirmarContrasenaModel.errors?.['pattern']">Debe incluir mínimo una mayúscula y un número.</ng-container>
    </p>

    <p class="error" *ngIf="passwordMismatch">Las contraseñas no coinciden.</p>
    <p class="error" *ngIf="tokenError">{{ tokenError }}</p>

    <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
    <p class="p" *ngIf="(error$ | async) as error">{{ error }}</p>

    <div footer>
        <ui-button 
            texto="Guardar" 
            tipo="submit" 
            customWidth="250px"
            [disabled]="nuevaContrasenaModel.invalid || confirmarContrasenaModel.invalid ? true : false"
        ></ui-button>
        
        <p class="link_iniciar_sesion">¿Ya tienes cuenta? <a routerLink="/auth/login" class="link">Iniciar sesión</a></p>
    </div>
</app-ui-form>
