// Footer del formulario
[footer] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

// Enlaces
.link {
    font-size: 14px;
    color: #D4AF37;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.link_iniciar_sesion {
  color: white;
}

// Mensajes de estado
.p {
  font-size: 16px;
  color: #c62828;
}

.error {
  font-size: 16px;
  color: #c62828;
}

.success {
  font-size: 16px;
  color: #D4AF37;
}