/* You can add global styles to this file, and also import other style files */

/* Reset de valores predeterminados */
* {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #2B1D13;
}

/* Reset para elementos comunes */
h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, blockquote {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

