<aside class="sidebar" [class.is-collapsed]="collapsed">
    <div class="logotipo">
        <button class="collapse-toggle" type="button" (click)="onToggle()" aria-label="Alternar sidebar">
            <span class="toggle-icon">☰</span>
        </button>

        <img src="/img/logoDonPapa.png" alt="Logo Don Papa" class="img">
        <p class="texto" [class.is-hidden]="collapsed">Administración</p>
        
    </div>
    
    <nav class="menu-container">
        @if (menuItems.length > 0) {
            @for (item of menuItems; track item.texto){
                @if (!collapsed) {
                    <app-ui-icon-button
                    [texto]="item.texto"
                    [urlIcono]="item.urlIcono"
                    [link]="item.link"
                    [sidebarStyles]="true"
                    [fullWidth]="true"
                    [showBorder]="true"
                    [customHeight]="'60px'"
                    >
                    </app-ui-icon-button>
                } @else {
                    <app-ui-only-icon-button
                    [urlIcono]="item.urlIcono"
                    [link]="item.link"
                    [sidebarStyles]="true"
                    [fullWidth]="true"
                    [showBorder]="true"
                    [customHeight]="'60px'"
                    >
                    </app-ui-only-icon-button>
                }
            }
        }
    </nav>
</aside>

