<aside class="sidebar">
    <div class="logotipo">
        
        <img src="/img/logoDonPapa.png" alt="" class="img">
        <p class="texto">Administracion</p>
        
    </div>
    
    <nav class="menu-container">
        @for (item of menuItems; track item.texto){
            <app-ui-icon-button
            [texto]="item.texto"
            [urlIcono]="item.urlIcono"
            [link]="item.link"
            [sidebarStyles]="true"
            [fullWidth]="true"
            [showBorder]="true"
            [customHeight]=`60px`
            >
            </app-ui-icon-button>
        }
    </nav>
</aside>