header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #D4AF37;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
    background-color: #1A120B;
    gap: 17px;
    z-index: 999;
    
}