/*Diseño del input  botones en tres tamaños*/
.ui-btn {
  background-color: #D4AF37;
  color: #0a0802;
  padding: 10px   ;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  /* Texto centrado */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Dimensiones */
  
  max-width: 450px;
  max-height: 50px;
  height: 40px;

  font-family: inherit;
  font-size: 18px;


  &:hover {
    opacity: 0.9;
  }

  &.noBackgroundColor{
      color: white;
      background-color: transparent;
      border: solid 1pt #D4AF37;  
      
      &:hover {
        color: #0a0802;
        background-color: #D4AF37;
      }
  }

}
