/*Diseño del input  botones en tres tamaños*/
.ui-btn {
  background-color: #D4AF37;
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  /* Texto centrado */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Dimensiones */
  
  max-width: 450px;
  max-height: 50px;
  height: 40px;

  font-family: inherit;
  font-size: 18px;


  &:hover {
    opacity: 0.9;
  }
}
