
.inventory-page{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	width: 100%;
}

.inventory-header{
	width: min(100%, 1200px);
	display: flex;
	justify-content: flex-start;
}

.inventory-title{
	color: #ffffff;
	margin: 0;
    font-weight: 100;
}

