.link{
    text-decoration: none;
    color: #ffffff;
    max-width: 180px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
    &:hover{
        cursor: pointer;
        color: #D4AF37
    }
    
    &.bordered {
        border-bottom: 2px solid #D4AF37;
    }
    
    &.full-width {
        width: 100%;
        max-width: 100% !important;
    }

    
}

.texto{
    font-size: 19px;
}

.img{
    width: 40px;
    height: 40px;
}