// Sección de contraseña
.contrasenaSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;

    p {
        color: #ffffffc7;
        font-size: 11px;
        width: 270px;
    }
}

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

// Footer del formulario
[footer] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

// Enlaces
.link {
    font-size: 14px;
    color: #D4AF37;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// Mensajes de estado
.p {
    color: white;
}

.error {
    color: #e74c3c;
    font-size: 12px;
    text-align: center;
}

.success {
    color: #2ecc71;
    font-size: 12px;
    text-align: center;
}   