<app-ui-modal titulo="Editar Producto" [mostrar]="mostrar" (cerrar)="onCerrar()">
    <app-ui-form maxHeight="50vh" maxWidth="1000px">
        <ui-input tituloInput="Nombre" [(ngModel)]="productoEditado.nombre" name="nombre" required
            #nombreModel="ngModel">
        </ui-input>



        <ui-input tituloInput="Precio" tipo="number" [(ngModel)]="productoEditado.precio" name="precio" required
            [min]='0' #precioModel="ngModel">
        </ui-input>


        <ui-input tituloInput="Stock Actual" tipo="number" [(ngModel)]="productoEditado.stockActual" name="stockActual"
            required [min]='0' #stockActualModel="ngModel">
        </ui-input>


        <ui-input tituloInput="Stock Mínimo" tipo="number" [(ngModel)]="productoEditado.stockMinimo" name="stockMinimo"
            required [min]="0" #stockMinimoModel="ngModel">
        </ui-input>



        <ui-input tituloInput="Descripción" [(ngModel)]="productoEditado.descripcion" name="descripcion">
        </ui-input>



        <app-ui-combobox tituloInput="Categorias" [options]="categoriasOptions"
            [(selectedOption)]="productoEditado.idCategoria">

        </app-ui-combobox>

        <!-- <app-ui-only-icon-button urlIcono="icons/addImage.svg" class="addImage" texto="Agregar Imagen"
            [showTextStyle]="showTextStyle">
        </app-ui-only-icon-button> -->
        <app-ui-image-upload [productoId]="producto?.idProducto ?? null" [urlActual]="producto?.imagen ?? null"
            (imagenSubida)="onProductoActualizado()">
        </app-ui-image-upload>

        <div footer>
            <ui-button texto="Actualizar Producto" [noBackgroundColor]="true" (accion)="actualizarProducto()">
            </ui-button>
        </div>

        <p class="error" *ngIf="nombreModel.invalid && nombreModel.touched">
            <ng-container *ngIf="nombreModel.errors?.['required']">El nombre es obligatorio.</ng-container>
        </p>
        <p class="error" *ngIf="precioModel.invalid && precioModel.touched">
            <ng-container *ngIf="precioModel.errors?.['required']">El precio es obligatorio.</ng-container>
            <ng-container *ngIf="precioModel.errors?.['min']">El precio no puede ser negativo.</ng-container>
        </p>
        <p class="error" *ngIf="stockActualModel.invalid && stockActualModel.touched">
            <ng-container *ngIf="stockActualModel.errors?.['required']">El stock actual es
                obligatorio.</ng-container>
            <ng-container *ngIf="stockActualModel.errors?.['min']">El stock no puede ser negativo.</ng-container>
        </p>
        <p class="error" *ngIf="stockMinimoModel.invalid && stockMinimoModel.touched">
            <ng-container *ngIf="stockMinimoModel.errors?.['required']">El stock mínimo es
                obligatorio.</ng-container>
            <ng-container *ngIf="stockMinimoModel.errors?.['min']">El stock mínimo no puede ser
                negativo.</ng-container>
        </p>
    </app-ui-form>



</app-ui-modal>