:host {
  display: block;
  width: 100%;
  height: 100%;
}

.layout {
  --sidebar-expanded-width: 16rem;
  --sidebar-collapsed-width: 5rem;
  --sidebar-current-width: var(--sidebar-expanded-width);
}

.layout.sidebar-collapsed {
  --sidebar-current-width: var(--sidebar-collapsed-width);
}

.main-content {
  position: fixed;
  top: 70px; /* Altura del header */
  left: var(--sidebar-current-width);
  right: 0;
  bottom: 0;
  width: calc(100% - var(--sidebar-current-width));
  height: calc(100vh - 70px);
  overflow-y: auto;
  overflow-x: auto;
  background-color: #2B1D13;
  padding: 1.25rem;
  transition: left 0.2s ease, width 0.2s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  scrollbar-color: grey #1A120B;
}


.main-content-body{
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

