.modal-backdrop {
  position: fixed;
  top: 70px;
  left: var(--sidebar-current-width, 16rem);
  right: 0;
  bottom: 0;
  width: calc(100% - var(--sidebar-current-width, 16rem));
  height: calc(100vh - 70px);
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: left 0.2s ease, width 0.2s ease;
}

.modal-container {
  max-width: 80%;
  width: auto;
  height: fit-content;
  background: #2B1D13;
  border: 2px solid #D4AF37;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  
  
  h3{
    font-weight: 100;
    font-size: 25px;
    margin-right: 15px;
  }

}


.cerrar-btn {
  background: transparent;
  border: none;
  font-size: 22px;
  color: #D4AF37;
  cursor: pointer;
  &:hover{
    filter: opacity(0.75);
  }
}

.modal-body {

  margin-bottom: 20px;
  font-size: 18px;
  
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}