@if (!sidebarStyles) {
	@if (link) {
		<a [routerLink]="link" class="icon-button" [ngClass]="{'text': showTextStyle, 'complete-button': !texto, 'background_color': background_color}">
			@if (urlIcono) {
				<img [src]="urlIcono" alt="" class="icon-img" />
			}
			@if (texto) {
				<span class="icon-text">{{ texto }}</span>
			}
		</a>    
	} @else {
		<a class="icon-button" [ngClass]="{'text': showTextStyle, 'complete-button': !texto, 'background_color': background_color}" (click)="onClick()">
			@if (urlIcono) {
				<img [src]="urlIcono" alt="" class="icon-img" />
			}
			@if (texto) {
				<span class="icon-text">{{ texto }}</span>
			}
		</a>
	}
} @else{
	@if (link) {
		<a 
		[routerLink]="link" 
		[class]="customClass"
		[ngClass]="{
			'full-width': fullWidth,
			'bordered': showBorder,
			'text': showTextStyle,
			'background_color': background_color,
			'complete-button': !texto,
		}"
		[ngStyle]="{
			'height': customHeight
		}"
		>
			@if (urlIcono) {
				<img [src]="urlIcono" alt="" class="icon-img" />
			}
			@if (texto) {
				<span class="icon-text">{{ texto }}</span>
			}
		</a>   
	} @else {
		<button 
		type="button"
		[class]="customClass"
		[ngClass]="{
			'full-width': fullWidth,
			'bordered': showBorder,
			'text': showTextStyle,
			'complete-button': !texto,
			'background_color': background_color,
		}"
		[ngStyle]="{
			'height': customHeight
		}"
		(click)="onClick()"
		>
			@if (urlIcono) {
				<img [src]="urlIcono" alt="" class="icon-img" />
			}
			@if (texto) {
				<span class="icon-text">{{ texto }}</span>
			}
		</button>   
	}
}
