.icon-button{
	text-decoration: none;
	color: #ffffff;
	width: fit-content;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	
	&.bordered {
		border-bottom: 2px solid #D4AF37;
	}
	&.full-width {
		width: 100%;
	}

	&:hover{
		.icon-mask{
			background-color: #ffffff;
		}
	}
}


.icon-mask{
	width: 40px;
	height: 40px;
	display: inline-block;
	background-color: #D4AF37;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-position: center;
	mask-position: center;
	
}
