.login-page {
  
  width: 370px;
  height: fit-content;

  background-color: #1A120B;

  margin: 0 auto;
  margin-top: 50vh;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #D4AF37;
  h2{
    text-align: center;
    width: 200px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 33px;
    font-weight: 100;
    color: white;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  ui-button{
    margin-top: 10px; 
  }
}

.error {
  color: #c62828;
  font-size: 0.9rem;
}

.success {
  color: #2e7d32;
  font-size: 0.9rem;
}

p{
  color: white;
  margin-bottom: 10px;
}
.link {
  color: #D4AF37;
  text-decoration: none;
}
