<app-ui-modal titulo="Agregar Producto" [mostrar]="mostrar" (cerrar)="onCerrar()">
    <app-ui-form maxHeight="50vh" maxWidth="1000px">
        <ui-input tituloInput="Nombre" [(ngModel)]="productoNuevo.nombre" name="nombreNuevo" required
            #nombreNuevoModel="ngModel">
        </ui-input>



        <ui-input tituloInput="Precio" tipo="number" [(ngModel)]="productoNuevo.precio" name="precioNuevo" required
            [min]="0" #precioNuevoModel="ngModel">
        </ui-input>


        <ui-input tituloInput="Stock Actual" tipo="number" [(ngModel)]="productoNuevo.stockActual"
            name="stockActualNuevo" required [min]="0" #stockActualNuevoModel="ngModel">
        </ui-input>


        <ui-input tituloInput="Stock Mínimo" tipo="number" [(ngModel)]="productoNuevo.stockMinimo"
            name="stockMinimoNuevo" required [min]="0" #stockMinimoNuevoModel="ngModel">
        </ui-input>


        <ui-input tituloInput="Descripción" [(ngModel)]="productoNuevo.descripcion" name="descripcionNuevo">
        </ui-input>

        <app-ui-combobox tituloInput="Categorias" [options]="categoriasOptions"
            [(selectedOption)]="productoNuevo.idCategoria">

        </app-ui-combobox>

        <!-- <app-ui-only-icon-button urlIcono="icons/addImage.svg" class="addImage" texto="Agregar Imagen"
            [showTextStyle]="showTextStyle">
        </app-ui-only-icon-button> -->
        <app-ui-image-upload (archivoSeleccionado)="onArchivoSeleccionado($event)"></app-ui-image-upload>


        <div footer>
            <ui-button texto="Crear Producto" [noBackgroundColor]="true" (accion)="crearProducto()">
            </ui-button>
        </div>
        <p class="error" *ngIf="nombreNuevoModel.invalid && nombreNuevoModel.touched">
            <ng-container *ngIf="nombreNuevoModel.errors?.['required']">El nombre es obligatorio.</ng-container>
        </p>
        <p class="error" *ngIf="precioNuevoModel.invalid && precioNuevoModel.touched">
            <ng-container *ngIf="precioNuevoModel.errors?.['required']">El precio es obligatorio.</ng-container>
            <ng-container *ngIf="precioNuevoModel.errors?.['min']">El precio no puede ser negativo.</ng-container>
        </p>
        <p class="error" *ngIf="stockActualNuevoModel.invalid && stockActualNuevoModel.touched">
            <ng-container *ngIf="stockActualNuevoModel.errors?.['required']">El stock actual es
                obligatorio.</ng-container>
            <ng-container *ngIf="stockActualNuevoModel.errors?.['min']">El stock no puede ser
                negativo.</ng-container>
        </p>
        <p class="error" *ngIf="stockMinimoNuevoModel.invalid && stockMinimoNuevoModel.touched">
            <ng-container *ngIf="stockMinimoNuevoModel.errors?.['required']">El stock mínimo es
                obligatorio.</ng-container>
            <ng-container *ngIf="stockMinimoNuevoModel.errors?.['min']">El stock mínimo no puede ser
                negativo.</ng-container>
        </p>
    </app-ui-form>
</app-ui-modal>